.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;

}

.tab-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.tab-item{
    padding: 10px 20px;
    background: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
    list-style: none;
}
.tab-item.active {
    background: #e1e1e1;
}

.tab-content-item{
    display: none;
}
.tab-content-item.active{
    display: block;
}